body {
    /* font-family: "Courier New", Courier, monospace; */
    /* color: green; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    /* background-color: #002409; */
    background-image: url("./emeraldinspirations-tile-light.png"); /* fallback */
    /* background-image: url("./emeraldinspirations-tile.png"),
        linear-gradient(#004011 0%, #002409 100%); W3C */
}

@media (prefers-color-scheme: dark) {
    body {
        /* color: green; */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-size: auto;
        background-color: #002409;
        background-image: url("./emeraldinspirations-tile.png"); /* fallback */
        background-image: url("./emeraldinspirations-tile.png"),
            linear-gradient(#004011 0%, #002409 100%); /* W3C */
    }
}
